.header-admin {
    margin: 0 auto;
    max-width: 1280px;
    min-height: 64px;
    width: 100%;
    padding: 17px 27px 17px 34px;
    display: flex;
    justify-content: space-between;
    position: relative;

    @media(max-width:950px) {
        padding: 17px 15px 17px 23px;
    }

    .exit {
        margin-top: -1px;
        display: flex;
        align-items: center;
        gap: 8px;
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 19px;
        color: #C8D2DC;

        @media(max-width:950px) {
            display: none;
        }
    }

    .admin-menu-icon {
        margin-top: -1px;
        display: none;

        @media(max-width:950px) {
            display: block;
        }
    }
}

.myClass-blur {
    filter: blur(1.5px);
}