.orders-table {
    padding: 25px 12px 0px 12px;
    width: 1018px;

    tr {
        width: 100%;
    }

    .titles {
        display: flex;
        padding-top: 1px;
        margin-bottom: 2px;

        th {
            font-family: 'ProximaNova';
            font-style: normal;
            font-weight: 300;
            font-size: 14px;
            line-height: 15px;
            color: #FCFFFF;
            padding-bottom: 18px;
        }

        th:nth-child(1) {
            padding-left: 16px;
            padding-right: 26px;
        }

        th:nth-child(2) {
            padding-right: 38px;
        }

        th:nth-child(3) {
            padding-right: 173px;
        }

        th:nth-child(4) {
            padding-right: 103px;
        }

        th:nth-child(5) {
            padding-right: 99px;
        }

        th:nth-child(6) {
            padding-right: 51px;
        }
    }

    .orders-item {
        background: #1D1F21;
        width: 100%;
        height: 90px;
        display: flex;
        border-radius: 14px;
        margin-bottom: 8px;

        td:nth-child(1) {
            padding-left: 25px;
            padding-right: 35px;
            padding-top: 37px;
        }

        td:nth-child(2) {
            width: 32px;
            height: 32px;
            border-radius: 50%;
            background-color: #EB8032;
            margin-top: 29px;
            margin-right: 40px;
        }

        td:nth-child(3) {
            font-size: 14px;
            font-weight: 600;
            padding-top: 39px;
            padding-right: 29px;
        }

        td:nth-child(4) {
            padding-top: 37px;
            padding-right: 30px;
        }

        td:nth-child(5) {
            padding-top: 28px;
            padding-right: 17px;

            p {
                font-weight: 400;
                font-size: 12px;
                line-height: 18px;
                margin-bottom: 1px;
            }

            span {
                cursor: pointer;
                font-size: 12px;
                line-height: 18px;
                text-decoration-line: underline;
                color: #86A8FF;
                font-weight: 700;
            }
        }

        td:nth-child(6) {
            padding-top: 27px;
            padding-right: 18px;

            p {
                font-weight: 400;
                font-size: 12px;
                line-height: 18px;
                margin-bottom: 1px;
            }

            span {
                cursor: pointer;
                font-size: 12px;
                line-height: 18px;
                text-decoration-line: underline;
                color: #86A8FF;
                font-weight: 700;
            }
        }

        td:nth-child(7) {
            padding-top: 25px;

            button {
                width: 116px;
                height: 40px;
                border-radius: 8px;
                text-align: left;
                padding-left: 29px;
                background: linear-gradient(94.78deg, #68C9FF 9.27%, #D1B5FF 84.06%);
                font-size: 14px;
                font-weight: 700;
                line-height: 20px;
                color: black;
            }
        }
    }
}

.orders-list {
    display: none;
    padding: 16px 15px;

    h3 {
        font-size: 20px;
        font-weight: 700;
        line-height: 30px;
        margin-bottom: 10px;
    }
    .order-list__wrapper{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 0px 10px;
    }
    .orders-list__item {
        width: 345px;
        height: 289px;
        background: #2C2F33;
        border-radius: 14px;
        padding: 19px 19px 17px 18px;
        margin-bottom: 10px;

        .item-header {
            display: flex;
            width: 100%;
            margin-bottom: 16px;

            .item-color {
                width: 32px;
                height: 32px;
                border-radius: 50%;
                background-color: #EB8032;
                margin-top: 3px;
                margin-right: 14px;
            }

            h4 {
                font-weight: 600;
                font-size: 16px;
                line-height: 21px;
            }

            p {
                font-weight: 400;
                font-size: 14px;
                line-height: 21px;
            }
        }

        .item-line {
            width: 100%;
            height: 1px;
            background: linear-gradient(94.78deg, rgba(104, 201, 255, 0.1) 9.27%, rgba(209, 181, 255, 0.1) 84.06%);
        }

        .item-size {
            width: 100%;
            display: flex;
            justify-content: space-between;
            margin-top: 11px;
            margin-bottom: 14px;

            p:nth-child(1) {
                font-weight: 400;
                font-size: 14px;
                line-height: 15px;
                margin-top: 3px;
            }

            p:nth-child(2) {
                font-weight: 600;
                font-size: 14px;
                line-height: 21px;
            }
        }

        .item-info {
            display: flex;
            width: 100%;
            justify-content: space-between;
            margin-top: 14px;

            div {
                width: 141px;
            }

            p {
                font-weight: 400;
                font-size: 14px;
                line-height: 15px;
            }

            span {
                font-weight: 400;
                font-size: 14px;
                line-height: 18px;
                display: block;
                margin-top: 7px;
            }
        }

        .item-button {
            margin-top: 17px;
            width: 100%;
            height: 40px;
            background: linear-gradient(94.78deg, #68C9FF 9.27%, #D1B5FF 84.06%);
            color: black;
            border-radius: 8px;
            font-size: 14px;
            font-weight: 700;
            line-height: 20px;
            text-align: left;
            padding-left: 125px;
        }
    }
}

@media screen and (max-width:950px) {
    .orders-table {
        display: none;
    }

    .orders-list {
        display: block;
    }
}