.checkbox {
	margin-top: rem(18);
	@media (max-width:$mobile){
		 margin-top: rem(15); 
	}
	position: relative;
	&:not(:last-child) {
		margin-bottom: em(5);
	}
	// .checkbox__input
	&__input {
		position: absolute;
		width: 0;
		height: 0;
		opacity: 0;
		&:focus + .checkbox__label:before {
			
		}
		&:checked + .checkbox__label:before {
			background:linear-gradient(94.78deg, #68C9FF 9.27%, #D1B5FF 84.06%);
		}
	}
	// .checkbox__label
	&__label {
		cursor: pointer;
		display: inline-flex;
		position: relative;
		gap: 10px;
		&:before {
			content: "";
			align-self: flex-start;
			flex: 0 0 20px;
			width: 20px;
			height: 20px;
			border: 1px solid #525960;
			border-radius: rem(7);
		}
	}
	// .checkbox__text
	&__text {
		align-self: center;
		font-weight: 400;
		font-size: rem(14);
		line-height: rem(21);
		color: #C8D2DC;
	}
}
