.admin-for-owner {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    display: flex;

    .aside-admin {
        width: 245px;
        height: calc(100vh - 64px);
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        nav {
            padding: 35px 37px;

            ul {
                li {
                    margin-bottom: 24px;

                    a {
                        display: flex;
                        gap: 11px;

                        p {
                            margin-top: 2px;
                        }
                    }
                }
            }
        }
    }

    .container {
        background: #212426;
        border-radius: 32px 0px 0px 0px;
        width: calc(100% - 245px);
        height: calc(100vh - 64px);

        .message {
            width: 100%;
            height: 100%;
        }

        .orders,
        .orders-nft,
        .workers {
            display: none;
        }
    }
}