// Заголовки, общие БЄМ блоки и проче...
.button {
	display: inline-flex;
	color: transparent;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	text-fill-color: transparent;
	background: linear-gradient(94.78deg, rgba(104, 201, 255, 0.1) 9.27%, rgba(209, 181, 255, 0.1) 84.06%);
	border-radius: rem(12);
	h3{
		background: linear-gradient(94.78deg, #68C9FF 9.27%, #D1B5FF 84.06%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-clip: text;
		text-fill-color: transparent;
	}
	
	@media (any-hover: hover) {
		&:hover {
			
		}
	}
	&._fw {
		width: 100%;
	}
}
.button-black {
	display: inline-flex;
	background-color: #1D1F21;
	border-radius: rem(16);
	h3{
		background: linear-gradient(94.78deg, #68C9FF 9.27%, #D1B5FF 84.06%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-clip: text;
		text-fill-color: transparent;
	}
	
	@media (any-hover: hover) {
		&:hover {
			
		}
	}
	&._fw {
		width: 100%;
	}
}
.button-bg {
	display: inline-flex;
	background: linear-gradient(94.78deg, #68C9FF 9.27%, #D1B5FF 84.06%);
	border-radius: rem(12);
	color: #1D1F21;
	@media (any-hover: hover) {
		&:hover {
			
		}
	}
	&._fw {
		width: 100%;
	}
}
.title-bg{
	background: linear-gradient(94.78deg, #68C9FF 9.27%, #D1B5FF 84.06%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;
letter-spacing: 0.1em;
}
.title-color{
	background: linear-gradient(94.78deg, #68C9FF 9.27%, #D1B5FF 84.06%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;

}
///////////////////////////////////////////////////////////////////////////////
.contact {
position: relative;
	// .contact__decor01

	&__decor01 {
		@include adaptiveValue("top",130 ,0 );
		@include adaptiveValue("left",161 ,0 );
		position: absolute;
		@media (max-width:$mobile){
			  top:rem(-15) ;
			  left: rem(285);
			  width: rem(100);
			  height: rem(100);
		}
	
	}

	// .contact__decor02

	&__decor02 {
		
		position: absolute;
		@include adaptiveValue("top",200 ,0 );
		left: rem(-150);
		@media (max-width:$mobile){
			 width: rem(50);
			 height: rem(50); 
			 top: rem(-20);
			 left: rem(280);
			 rotate: (-70deg);
		}
	}

	// .contact__decor03

	&__decor03 {
		
		position: absolute;
		bottom: rem(20);
		@include adaptiveValue("left",200 ,20 );
		@media (max-width:$mobile){
			display: none; 
	   }
	}

	// .contact__decor04

	&__decor04 {
		
		position: absolute;
		right: rem(-150);
		@include adaptiveValue("top",60 ,20 );
		@media (max-width:$mobile){
			 display: none; 
		}
	}

	// .contact__container

	&__container {
	}

	// .contact__content

	&__content {
		display: flex;
		flex-direction: column;
		align-items: center;
		@media (max-width:$mobile){
			
		}
	}

	// .contact__information

	&__information {
		@media (max-width:$mobile){
			 padding-right: rem(45); 
			 padding-top: rem(3);
		}
	}

	// .contact__title

	&__title {
		background: linear-gradient(94.78deg, #68C9FF 9.27%, #D1B5FF 84.06%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-clip: text;
		text-fill-color: transparent;
		font-weight: 700;
		font-size: rem(18);
		line-height: rem(26);
		letter-spacing: 0.1em;
		text-align: center;
		@media (max-width:$mobile){
			 font-size: rem(14); 
			 text-align: left;
		}
	}

	// .contact__subtitle

	&__subtitle {
		font-weight: 700;
		font-size: rem(36);
		line-height: rem(50);
		text-align: center;
		@media (max-width:$mobile){
			font-size: rem(26);
			line-height: rem(34); 
			text-align: left;
		}

	}

	// .contact__form

	&__form {

	}

	// .contact__user

	&__user {
	}

	// .contact__name

	&__name {
		font-weight: 400;
		font-size: rem(14);
		line-height: rem(21);
		color: #C8D2DC;
		margin-top: rem(15);

	}
	&__input{
		@include adaptiveValue("width",410 ,345 );
		height: rem(64);
		background: #212426;
		border-radius: rem(9);
		margin-top: rem(6);
		padding-left: rem(32);
		font-weight: 400;
		font-size: rem(16);
		line-height: rem(21);
		color: $mainColor;
	}
	// .contact__mail

	&__mail {
	}

	// .contact__text

	&__text {
			font-weight: 400;
			font-size: rem(14);
			line-height: rem(21);
			color: #C8D2DC;
			
	}

	// .contact__question

	&__question {
		@include adaptiveValue("width",410 ,345 );
		height: rem(182);
		background: #212426;
		border-radius: rem(9);
		padding-left: rem(32);
		padding-top: rem(21);
		color: $mainColor;
		margin-top: rem(7);
		font-weight: 400;
		font-size: rem(16);
		line-height: rem(21);

	}

	// .contact__actions

	&__actions {
		margin-top: rem(12);
		@media (max-width:$mobile){
			 margin-top: rem(10); 
		}
	}

	// .contact__btn
	&__span{
		color: #86A8FF;
		text-decoration: underline;
		&-1{
			padding-left: rem(5);
			padding-right: rem(5);
		}
	}
	&__btn {
		font-weight: 700;
		font-size: rem(18);
		line-height: rem(26);
		padding: rem(18) rem(145) rem(19) rem(145);
		@media (max-width:$mobile){
			  padding-left: rem(113);
			  padding-right: rem(112);
		}
	}
	&__checkbox{
		
	}

	// .contact__policy

	&__policy {
	}
}
////////////////////////////////////////////////////////
.get {

    // .get__swip

    &__swip {
		z-index: 6;
		
    }

    // .get__slider

    &__slider {
		padding-top: rem(78);
		height: rem(735);
		z-index: 6;	
		@media (max-width:$mobile){
			 padding-top: rem(3);
			 height: rem(650); 
		}
    }

    // .get__wrapper

    &__wrapper {
    }

    // .get__slide

    &__slide {
		z-index: 6;
    }

    // .get__card

    &__card {
		@include adaptiveValue("width", 350,345 );
		height: rem(650);
		background: #212426;
		border-radius: rem(12);
		position: relative;
		padding-top: rem(5);
		transition: all 0.5s ease;
		z-index: 6;
		&:hover .get__top{
			padding-bottom: rem(35);
		}
		&:hover .get__title {
			transition: all 0.5s ease;
			color: #FCFFFF;
		}
		&:hover .get__subtitle {
			transition: all 0.5s ease;
			color: #FCFFFF;
		}
		@media (any-hover: hover){
			&:hover{
				transform: translateY(rem(-40));
				@media (max-width:$mobile){
					transform: translateY(rem(0								));
				}
			}
		}
		@media (any-hover: hover){
			&:hover{
				transition: all 0.5s ease;
				background: linear-gradient(94.78deg, #31FFF3 9.27%, #AD7AFF 84.06%);
				
			}
		}
		&:hover .get__week{
			transition: all 0.5s ease;
			background: linear-gradient(94.78deg, #00ADC5 9.27%, #AD7AFF 84.06%);
		}
		&:hover .get__btn{
			transition: all 0.5s ease;
			background: #1D1F21;
			h3{
				background: linear-gradient(94.78deg, #31FFF3 9.27%, #AD7AFF 84.06%);
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
				background-clip: text;
				text-fill-color: transparent;
			}
		}

    }

    // .get__dec01

    &__dec01 {
		position: absolute;
		top: rem(45);
		left: rem(45);
		z-index: 5;
		&-1{
			position: absolute;
			top: rem(41);
			left: rem(24);
			z-index: 5;
		}
		&-4{
			position: absolute;
			top: rem(27);
			z-index: 5;
			left: rem(27);
		}
    }

    // .get__dec02

    &__dec02 {
		position: absolute;
		top: 0;
		left: 0;
    }

    // .get__dec03

    &__dec03 {
		position: absolute;
		top: rem(31);
		left: rem(39);
		&-3{
			position: absolute;
			top: rem(31);
			left: rem(45);

		}
		&-4{
			position: absolute;
			top: rem(31);
			left:rem(70);
		}
		
    }

    // .get__top

    &__top {
		background: #212426;
		border-radius: rem(12);
		height: rem(560);
		width: rem(340);
		padding-top: rem(149);
		margin: 0 auto;
		
    }

    // .get__week

    &__week {
		background: linear-gradient(94.78deg, #68C9FF 9.27%, #D1B5FF 84.06%);
		border-radius: rem(8) 0px 0px rem(8);
		width: rem(275);
		height: rem(80);
		margin-left: rem(70);
		z-index: 8;
		position: relative;
		padding-top: rem(15);
		padding-left: rem(25);
		@media (max-width:$mobile){
			 margin-left: rem(72); 
			 width: rem(270);
		}
		
    }

    // .get__title

    &__title {
		font-weight: 700;
		font-size: rem(26);
		padding-top: rem(4);
		color: #1D1F21;
		
    }

    // .get__subtitle

    &__subtitle {
		font-weight: 400;
		font-size: rem(14);
		line-height: rem(21);
		
		color: #1D1F21;
		opacity: 0.7;
    }

    // .get__list

    &__list {
		padding-left: rem(23);
		padding-top: rem(27);
		display: flex;
		flex-direction: column;
		gap: rem(9);
    }

    // .get__blok

    &__blok {
		display: flex;
		align-items: center;
		gap: rem(16);
		@media (max-width:$mobile){
			 gap: rem(17); 
		}
		
		
    }

    // .get__text

    &__text {
		font-weight: 400;
		font-size: rem(14);
		line-height: rem(21);
		color: #C8D2DC;
    }

    // .get__line

    &__line {
		width: rem(293);
		border: 1px solid #525960;
		
    }

    // .get__actions

    &__actions {
		display: flex;
		padding-top: rem(12);
		align-items: center;
		padding-left: rem(26);
		gap: rem(24);
    }

    // .get__btn

    &__btn {
		font-weight: 700;
		font-size: rem(18);
		line-height: rem(26);
		border-radius: rem(12);
		padding: rem(14) rem(50) rem(15) rem(51);
    }

    // .get__price

    &__price {
		font-weight: 700;
		font-size: rem(22);
		line-height: rem(34);
    }

    // .get__pangination

    &__item {
		width: rem(150);
		height: rem(20);
}	
&__pan{
	
}
	&__pangination{
		max-width: rem(345);
		height: rem(62);
		background: #212426;
		border-radius: rem(12);
		position: relative;
		display: flex;
		gap: rem(0);
		@media (min-width: em(1440)){
			  display: none;
		}
		@media (max-width:$mobile){
			max-width: rem(345);
			height: rem(62);
			background: #212426;
			border-radius: rem(12);
			position: relative;
			display: flex;
			gap: rem(0); 
			margin-top: rem(25);
			padding-top: rem(5);
			padding-left: rem(5);
			
		}
		
	}

.swiper {
}
.swiper-wrapper {
}
.swiper-slide {
}
.button-bg {
}
}
.swiper-pagination-bullet-active{
	width: rem(111);
	height: rem(48);
	background: linear-gradient(94.78deg, #68C9FF 9.27%, #D1B5FF 84.06%);
	border-radius: rem(12);
	z-index: 10;
	margin: 0;
	display: block;
	color: #1D1F21;
	font-weight: 700;
	font-size: rem(14);
	line-height: rem(20);
	
}
.swiper-pagination-bullet{
	width: rem(115);
	height: rem(48);
	border-radius: rem(12);
	background-color: #212426;
	margin: 0;
	display: block;
	font-size: rem(14);
	line-height: rem(20);
	text-align: center;
	padding-top: rem(15);
	padding-right: rem(1);
	
}
///////////////////////////////////////////////
.benefits {
	position: relative;
		// .benefits__container
	
		&__container {
			@include adaptiveValue("padding-top",75 ,20 );
		}
	
		// .benefits__content
	
		&__content {
		}
	
		// .benefits__text
	
		&__text {
			padding-left: rem(15);
		}
	
		// .benefits__title
	
		&__title {
			font-weight: 700;
			font-size: rem(18);
			line-height: rem(26);
			text-align: center;
			@media (max-width:$mobile){
				font-size: rem(14);
				line-height: rem(26); 
				text-align: left;
			   
				padding-top: rem(20);
			}
	
		}
	
		// .benefits__subtitle
	
		&__subtitle {
			font-weight: 700;
			font-size: rem(36);
			line-height: rem(50);
			text-align: center;
			@media (max-width:$mobile){
				font-size: rem(26);
				line-height: rem(34); 
				text-align: left;
				padding-top: rem(2);
			}
		}
	
		// .benefits__cards
	
		&__cards {
			display: grid;
			grid-template-rows: 1;
			grid-template-columns: repeat(4,rem(254));
			padding-left: rem(15);
			padding-top: rem(32);
			gap: rem(31);
			@media (max-width:$mobile){
				 grid-template-rows: repeat(2,rem(187)); 
				 grid-template-columns: repeat(2,rem(167));
				 gap: rem(11);
				 padding-top: rem(29);
				 row-gap: rem(16);
				
			}
		   
			
		}
	
		// .benefits__card
	
		&__card {
			@include adaptiveValue("width",255 ,167 );
			@include adaptiveValue("height",254 ,187 );
			background: #212426;
			border-radius: rem(12);     
			padding-top: rem(18);  
			padding-left: rem(19); 
			@media (max-width:$mobile){
				 padding-left: rem(10); 
				 padding-top: rem(10);
			};
		}
	
		// .benefits__blok
	
		&__blok {   
			width: rem(48);
			height: rem(48);
			background: linear-gradient(94.78deg, rgba(104, 201, 255, 0.1) 9.27%, rgba(209, 181, 255, 0.1) 84.06%);
			border-radius: rem(12);   
			padding: rem(10);   
			@media (max-width:$mobile){
				 width: rem(36);
				 height: rem(36); 
				 padding: rem(9);
				 border-radius: rem(8);
				 img{
					width: rem(18);
					height: rem(18);
				 }
			}                                                                              
		}                                               
	
		// .benefits__descr
	
		&__descr {
			font-weight: 700;
			font-size: rem(20);
			line-height: rem(30);
			padding-top: rem(10);
			@media (max-width:$mobile){
				font-size: rem(14);
				line-height: rem(20); 
				padding-top: rem(6);
			}
		}
	
		// .benefits__subdescr
	
		&__subdescr {
			font-weight: 400;
			font-size: rem(16);
			line-height: rem(28);
			padding-top: rem(5);
			@media (max-width:$mobile){
				font-size: rem(12);
				line-height: rem(20); 
				padding-top: rem(0);
			}
		}
	}
