
.part {
position: relative;
    // .part__blur

    &__blur {
        position: absolute;
        top: rem(-110);
        left: rem(-570);
        @media (max-width:$mobile){
             top: rem(15);
             left: 0;
        }
    }

    // .part__deco01

    &__deco01 {
        position: absolute;
        top: rem(47);
        left: 0;
        @media (max-width:$mobile){
             top: rem(15);
             left: rem(84);

        }
    }

    // .part__deco02

    &__deco02 {
        position: absolute;
        top: rem(520);
        left: rem(466);
        @media (max-width:$mobile){
             top: rem(530);
             left: 0; 
        }
    }

    // .part__icon

    &__icon {
        position: absolute;
        top: rem(430);
        left: rem(681);
        @media (max-width:$mobile){
             top: rem(368);
             left: 0; 
            width: rem(30);
            height: rem(40);
            rotate: (-10deg);                                                                                                            
        }
    }

    // .part__icon-small

    &__icon-small {
        position: absolute;
        right: rem(100);
        top: rem(241);
        @media (max-width:$mobile){
             top: rem(350); 
             right: rem(30);
             rotate: (15deg);
        }
    }
    &__circle{
        position: absolute;
        opacity: 0.4;
        border: 1px solid #FCFFFF;
        width: rem(25);
        height: rem(25);
        border-radius: 50%;
        bottom: rem(60);
        @include adaptiveValue("left",630 ,0 );
        @media (max-width:$mobile){
              left: rem(106);
              bottom: rem(457);
        }
    }

    // .part__container

    &__container {
    }

    // .part__content

    &__content {
        position: relative;
        display: flex;
        gap: rem(74);
       @include adaptiveValue("padding-left",165 ,0 );
       @media (max-width:$mobile){
         flex-direction: column;
         gap: rem(11);
         
       }
        
    }

    // .part__want

    &__want {
        @include adaptiveValue("padding-top",90 ,60 );
        @media (max-width:$mobile){
             padding-left: rem(15); 
        }
    }

    // .part__title

    &__title {
        font-weight: 700;
        font-size: rem(64);
        line-height: rem(65);
        @media (max-width:$mobile){
            font-size: rem(36);
            line-height: rem(40); 
        }
    }

    // .part__subtitle

    &__subtitle {
        font-weight: 400;
        font-size: rem(16);
        line-height: rem(28);
        padding-top: rem(15);
        @media (max-width:$mobile){
            font-size: rem(15);
            line-height: rem(24);
            padding-top: rem(9); 
        }
    }

    // .part__btn

    &__btn {
        font-weight: 700;
        font-size: rem(18);
        line-height: rem(26);
        display: flex;
        align-items: center;
        gap: rem(11);
        padding: rem(18) rem(24) rem(19) rem(26);
        border-radius: rem(16);
        @include adaptiveValue("margin-top",40 , 32);
@media (max-width:$mobile){
     font-size: rem(15); 
     border-radius: rem(12);
     padding: rem(12) rem(29) rem(12) rem(28);
     gap: rem(9);
     img{
        width: rem(16);
        height: rem(16);
     }
}
    }

    // .part__teamwork

    &__teamwork {
        padding-top: rem(43);
        @media (max-width:$tablet){
            padding-left: rem(15);
        }
    }
}

.come{
    @include adaptiveValue("padding-top",63 ,17 );
    padding-bottom: rem(91);
    @media (max-width:$mobile){
         padding-bottom: rem(18); 
    }
}
